n8n-workflow.json
{
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {}
                    ]
                }
            },
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.3,
            "position": [
                -576,
                0
            ],
            "id": "ccf100da-ec61-4a5a-b611-8ba8ebaa8c6d",
            "name": "Schedule Trigger"
        },
        {
            "parameters": {
                "url": "http://192.168.1.235:32400/library/sections/3/all",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                -368,
                0
            ],
            "id": "7e0b859a-a073-4ec0-9ab3-a4e187650706",
            "name": "Query Plex -> Theatre Library",
            "credentials": {
                "httpHeaderAuth": {
                    "id": "2t4RlyCkEK9KQfE8",
                    "name": "Plex Token"
                }
            }
        },
        {
            "parameters": {
                "jsCode": "const items = [];\n\nconst videos = $json.MediaContainer?.Metadata || [];\n\nfor (const v of videos) {\n  const directorTags = (v.Director || []).map(d => d.tag);\n\n  const newEditionTitle = directorTags.length\n    ? directorTags.join(\" / \")\n    : null;\n\n  items.push({\n    ratingKey: v.ratingKey,\n    title: v.title,\n    editionTitle: v.editionTitle || null,\n    newEditionTitle,\n    mediaPath: v.Media?.[0]?.Part?.[0]?.file || \"\",\n  });\n}\n\nreturn items.map(i => ({ json: i }));\n"
            },
            "type": "n8n-nodes-base.code",
            "typeVersion": 2,
            "position": [
                -160,
                0
            ],
            "id": "62c4bcab-4e14-43a2-a4e0-772a7351f930",
            "name": "Extract Items"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 3
                    },
                    "conditions": [
                        {
                            "id": "58f23afa-5e71-4143-8a88-b6230c50e60b",
                            "leftValue": "={{ $json.newEditionTitle }}",
                            "rightValue": "",
                            "operator": {
                                "type": "string",
                                "operation": "notEmpty",
                                "singleValue": true
                            }
                        },
                        {
                            "id": "f8eac3b9-d851-48a7-8612-7e286b4cc49a",
                            "leftValue": "={{ $json.editionTitle }}",
                            "rightValue": "={{ $json.newEditionTitle }}",
                            "operator": {
                                "type": "string",
                                "operation": "notEquals"
                            }
                        }
                    ],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.3,
            "position": [
                48,
                0
            ],
            "id": "96f54970-5c5e-46a5-a384-b566c40aa91f",
            "name": "If newEditionTitle found"
        },
        {
            "parameters": {
                "method": "PUT",
                "url": "=http://192.168.1.235:32400/library/metadata/{{$json.ratingKey}}",
                "authentication": "genericCredentialType",
                "genericAuthType": "httpHeaderAuth",
                "sendQuery": true,
                "queryParameters": {
                    "parameters": [
                        {
                            "name": "editionTitle",
                            "value": "={{ $json.newEditionTitle }}"
                        }
                    ]
                },
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.3,
            "position": [
                288,
                -80
            ],
            "id": "48414a7c-8b62-4c44-9a40-f1a1f19e872e",
            "name": "Update editionTitle",
            "credentials": {
                "httpHeaderAuth": {
                    "id": "2t4RlyCkEK9KQfE8",
                    "name": "Plex Token"
                }
            }
        }
    ],
    "connections": {
        "Schedule Trigger": {
            "main": [
                [
                    {
                        "node": "Query Plex -> Theatre Library",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Query Plex -> Theatre Library": {
            "main": [
                [
                    {
                        "node": "Extract Items",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Extract Items": {
            "main": [
                [
                    {
                        "node": "If newEditionTitle found",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "If newEditionTitle found": {
            "main": [
                [
                    {
                        "node": "Update editionTitle",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    },
    "pinData": {},
    "meta": {
        "instanceId": "fb7cda7ec974178b0ed7ff7e0be774299992dc98227246e1f65bcbc611595271"
    }
}